@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}


//color
$bg-color-1 :#144fc6;
$bg-color-2: #6ab3f8;
$bg-color-3:#3494e4;
$bg-color-4:#fff;
$bg-color-5:rgba(255, 255, 255, 0.9);


* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color-3;
  color: $bg-color-4;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  margin: 10px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background-color: $bg-color-4;
  border: 4px solid $bg-color-1;
  color: $bg-color-1;
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small {
  height: 95px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: $bg-color-5;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: $bg-color-2;
  color: $bg-color-4;
}

.cups {
  @include centerFlex;
  flex-wrap: wrap;
  width: 280px;
}

.remained {
  flex-direction: column;
  @include centerFlex;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: $bg-color-2;
 @include centerFlex;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}